@charset "utf-8";
/*
 * object/component/_dialog.css
 */
.c-dialog {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 75%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 2;
  [role="document"] {
    outline: none;
  }
  &[aria-hidden="true"] { display: none; }
  &[aria-hidden="false"] { display: block; }
}
.c-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
  &[aria-hidden="true"] { display: none; }
  &[aria-hidden="false"] { display: block; }
}