@charset "utf-8";
/*
* object/component/_nav.css
*/
.c-nav-list {
  padding: 10px 20px;
  border: 1px solid #ddd;
  &__item {
    float: left;
    margin-right: 20px;
    a {
      color: #333;
    }
  }
}