@charset "utf-8";
/*
 * object/component/_tab.css
 */
.c-tab {
  height: 42px;
  border-bottom: 1px solid #ddd;
  &__item {
    position: relative;
    float: left;
    width: 150px;
    height: 42px;
    margin-right: 5px;
    .c-tab__item__material {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 42px;
      border: 1px solid #ddd;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      text-align: center;
      line-height: 42px;
      outline: none;
      cursor: pointer;
      opacity: .5;
      &[aria-selected="true"] {
        border-bottom: 1px solid #fff;
        opacity: 1;
      }
    }
  }
}

.c-tab-section {
  min-height: 176px;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
  &[aria-hidden="true"] {
    display: none;
  }
}