@charset "utf-8";
/*
* layout/_core.css
*/
#l-wrap {
  width: 960px;
  margin: 0 auto;
}

#l-title {
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

#l-contents {
  position: relative;
  min-height: 300px;
  margin-bottom: 40px;
  padding: 40px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
}