@charset "utf-8";
/*
 * object/utility/_dimension.scss
 */
.u-fill {
  width: 100%;
}

.u-half {
  width: 50%;
}

.u-quarter {
  width: 25%;
}

.u-third {
  width: 33.33%;
}

.u-twoThirds {
  width: 66.66%;
}