@charset "utf-8";
/*
 * object/utility/misc.scss
 */

/*
 * rotate
 */
.u-trsfR180 {
  transform: rotate(-180deg);
}

.u-overflowHidden {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.u-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-breakAll {
  word-break: break-all;
}

/*
 * prevent callout
 */
.u-nocallout {
  -webkit-touch-callout: none;
}

/*
 * A hack for HTML5 contenteditable attribute on mobile
 */
textarea[contenteditable] {
  appearance: none;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.u-invisible {
  visibility: hidden;
}

/*
 * 画面タップ時のちらつき対策
 */
.u-tapHelper {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}